$success: rgba(40, 93, 86, 1);
$primary: rgba(40, 93, 86, 1);
$secondary: rgba(100, 86, 79, 1);
$blue: rgba(40, 93, 86, 1); // checkbox color

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
