$so-green: rgba(40, 93, 86, 1);
$so-text: black;
$so-white: #fff;
$so-transition: all 0.2s ease-in-out;
$so-bg: #f8f6f4;
$so-secondary: #274c5b;
$so-accent: #007766;
$so-gray-50: rgba(248, 246, 244, 1);
$so-gray-100: rgba(242, 238, 234, 1);
$so-gray-200: rgba(235, 229, 223, 1);
$so-gray-700: rgba(132, 114, 98, 1);
$so-gray-800: rgba(100, 86, 79, 1);
$so-gray-900: rgba(73, 58, 49, 1);

.btn-outline-success {
  color: $so-green !important;
  border-color: $so-green !important;

  &:hover {
    color: $so-white !important;
    background-color: $so-green !important;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: $so-bg !important;
}

main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

a {
  text-decoration: none !important;
}

ul {
  margin-bottom: 0 !important;
}

.so-button {
  font-size: 1rem;
  color: $so-green;
  padding: 0.375rem 0.75rem;
  font-weight: 600;
  border-radius: 0.375rem;
  transition: $so-transition;
  border: 2px solid $so-green;

  &:hover {
    background-color: $so-green;
    color: $so-white;
  }
}
