@import "./global.scss";

.so-header {
  z-index: 12;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: $so-green;
  height: 7.5rem;

  margin: 0 auto;
  color: $so-gray-100;
  width: 100%;

  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

  a {
    text-decoration: none;
    color: $so-gray-100;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    list-style: none;
  }
}

.so-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-grow: 1;
  max-width: 1440px;
  padding: 0 1rem;

  .so-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.so-categories-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $so-white;
  gap: 1.5rem;
  padding: 0.5rem;
  flex-grow: 0;

  width: 100%;
  margin: 0 auto;

  a {
    color: $so-green;
    font-weight: 500;
    font-size: 0.875rem;

    &:hover {
      color: $so-gray-900;
    }
  }
}

.so-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.so-logo {
  font-size: 2rem;
  font-family: "Newsreader", serif;
}

.so-nav-link {
  font-size: 1rem;
  padding: 8px 16px;
  font-weight: 600;
  border-radius: 32px;
  transition: $so-transition;

  &:hover {
    background-color: $so-green;
    color: $so-gray-200;
  }
}

.navbar {
  display: none !important;
}

.navbar-toggler {
  border: 2px solid $so-white !important;
  transition: $so-transition !important;
  font-size: 1rem !important;

  &:hover {
    border-color: black !important;

    .ph-list {
      color: black !important;
    }
  }
}

.ph-list {
  transition: $so-transition;
  color: $so-white !important;
}

.nav-link {
  color: $so-text !important;
  font-weight: 600 !important;

  &:hover {
    background-color: $so-green;
    color: $so-white !important;
  }
}

.nav-item,
.nav-link {
  width: 100%;
  text-align: center;
}

.nav-link[aria-current="page"] {
  color: black !important;
  background-color: $so-green;
}

@media (max-width: 900px) {
  .so-menu {
    display: none;
  }

  .navbar {
    display: flex !important;
  }
}
