@import "./global.scss";

.so-header {
  z-index: 12;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: $so-secondary;
  padding: 1rem;
  margin: 0 auto 8rem;
  color: $so-green;
  width: 100%;

  a {
    text-decoration: none;
    color: $so-green;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    list-style: none;
  }
}

.so-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.so-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.so-logo {
  font-size: 2rem;
  font-family: "Newsreader", serif;
}

.so-nav-link {
  font-size: 1rem;
  padding: 8px 16px;
  font-weight: 600;
  border-radius: 32px;
  transition: $so-transition;

  &:hover {
    background-color: $so-green;
    color: $so-white;
  }
}

.navbar {
  display: none !important;
  display: flex !important;
}

.navbar-toggler {
  border: 2px solid $so-green !important;
  transition: $so-transition !important;
  font-size: 1rem !important;

  &:hover {
    border-color: black !important;

    .ph-list {
      color: black !important;
    }
  }
}

.ph-list {
  transition: $so-transition;
  color: $so-green !important;
}

.nav-link {
  color: $so-text !important;
  font-weight: 600 !important;

  &:hover {
    background-color: $so-green;
    color: $so-white !important;
  }
}

.nav-item,
.nav-link {
  width: 100%;
  text-align: center;
}

.nav-link[aria-current="page"] {
  color: black !important;
  background-color: $so-green;
}

@media (max-width: 900px) {
  .so-header {
    padding: 1rem 0;
  }

  .so-menu {
    display: none;
  }

  .navbar {
    display: flex !important;
  }
}
