@import "./global.scss", "./custom-theme.scss";

.so-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.carousel-item {
  img {
    max-height: 600px;
    min-width: auto;
    object-fit: cover;
  }
}

.carousel-caption {
  position: absolute;
  bottom: 2rem !important;
  top: 43%;

  h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: $so-white;
    text-shadow: 1px 1px 1px black;
  }
}

#so-categories {
  margin: 4rem 0 2.5rem;
}

.card {
  transition: $so-transition;

  img {
    border-bottom: 1px solid transparent;
  }

  &:hover {
    border-color: $so-green !important;
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);

    img {
      border-color: $so-green;
      box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    }
  }
}

.so-vegetable-garden {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: 3rem;
  padding-bottom: 5rem;
}

.so-products-card {
  display: grid;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  gap: 1rem;
  padding: 0.5rem;

  max-width: 15.625rem;
  width: 100%;
  height: 100%;

  box-shadow: 4px 4px 22px -8px rgba(0, 0, 0, 0.1);

  .so-products-card-price {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;

    .promotional-price {
      color: $so-promotional-price;
      text-decoration: line-through;
    }
  }

  .so-products-card-img-top {
    overflow: hidden;
    position: relative;

    .so-products-card-discount {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      background-color: red;
      padding: 0.25rem 0.5rem;
      border-radius: 8px;
      color: $so-white;
      font-weight: 600;
      opacity: 0.6;
      font-size: 0.8rem;
    }

    .so-products-card-seal {
      position: absolute;
      bottom: 0.5rem;
      left: 0.5rem;
      max-width: 3.25rem;
    }

    .so-products-card-favorite {
      position: absolute;
      bottom: 0.5rem;
      right: 0.5rem;
      padding: 0.5rem;
      font-weight: 600;
      border-radius: 16px;
      background-color: $so-white;
      font-size: 1.5rem;
      box-shadow: 4px 4px 22px 9px rgba(0, 0, 0, 0.1);

      cursor: pointer;
    }

    img {
      max-width: 100%;
    }
  }

  .so-products-card-title {
    font-weight: 500;
    margin-bottom: 0;
  }
}

.so-testimonies {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-flow: row wrap;
}

.so-section {
  margin: 5rem 0 2.5rem;
  text-align: center;
}

.so-testimony-card {
  height: 368px !important;
  width: 18rem;
}

.so-testimony-card-body {
  padding: 1rem 2rem !important;
  text-align: center;
  position: relative;
}

.so-image-container {
  position: relative;

  figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: $so-white;
    padding: 5px;
    text-align: center;
  }
}

.card-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
  height: 100%;
}

.so-open,
.so-close {
  max-width: 20px;
}

.so-open {
  position: absolute;
  top: 10px;
  left: 10px;
}

.so-close {
  transform: rotate(180deg);
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.propaganda-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 2rem 0;
  max-height: 600px;
  display: flex;

  img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
  }
}

.propaganda-card {
  background-color: $so-green;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 1rem 2rem;

  h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: $so-white;
  }

  a {
    max-width: 7.5rem;
    font-weight: 600;
  }

  p {
    font-size: 1.2rem;
    font-weight: 400;
    color: $so-white;
    margin-bottom: 1rem;
  }
}

.so-section-title {
  font-family: "Newsreader", serif;
  font-size: 2.5rem;
  font-weight: 400;
}

.so-missao {
  display: flex;
  flex-direction: column;
  background-color: $so-green;
  padding: 4rem;
  max-width: 1440px;
  margin: 3rem auto 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

  span {
    font-size: 1rem;
    font-weight: 500;
    color: $so-gray-100;
    margin-bottom: 1rem;
  }
  h2 {
    font-size: 2rem;
    font-weight: 700;
    color: $so-white;
    margin-bottom: 2rem;
    text-wrap: nowrap;
  }
  p {
    font-size: 1.25rem;
    font-weight: 400;
    color: $so-white;
    margin-bottom: 1rem;
  }

  .badge {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #00ffda;
    color: white;
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 0.375rem;
    width: fit-content;
    font-weight: 600;
  }
  .so-missao-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;

    .so-missao-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: white;
      padding: 0 2rem 1rem;

      max-width: 300px;

      h3 {
        font-size: 1.25rem;
        font-weight: 700;
        color: $so-secondary;
        margin-bottom: 1rem;
      }
      p {
        font-size: 1rem;
        font-weight: 400;
        color: $so-text;
        margin-bottom: 1rem;
      }
      i {
        font-size: 3rem;
        color: $so-secondary;
        margin-top: 3rem;
      }
    }
  }
}

.grid-missao {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 2rem;

  .image-missao {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      max-height: 500px;
      object-fit: cover;
    }
  }
}

@media (max-width: 768px) {
  .carousel-caption {
    top: 15%;
    h3 {
      font-size: 1rem;
    }
    a {
      font-size: 0.8rem;
      padding: 0.3rem 0.5rem;
    }
  }
  #so-categories,
  #so-testimonies {
    margin: 4rem 0 2rem;
  }

  .propaganda-container {
    display: flex;
    flex-flow: row wrap-reverse;
    img {
      max-height: 150px;
    }
  }

  .propaganda-card {
    padding: 1rem 1rem 2rem;
    h3 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
    }
    a {
      font-size: 1rem;
      padding: 0.3rem 0.5rem;
    }
  }

  .so-products-card {
    max-width: 200px;
  }
  .so-missao {
    padding: 2rem;
    h2 {
      text-wrap: wrap;
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
    }
    span {
      font-size: 1rem;
    }
    .badge {
      font-size: 0.8rem;
      padding: 0.5rem 1rem;
    }
    .grid-missao {
      display: flex;
      flex-direction: column-reverse;
      .image-missao {
        img {
          border-radius: 0;
          width: 100%;
          max-height: 300px;
        }
      }
    }
    .so-missao-cards {
      flex-direction: column;
      .so-missao-card {
        max-width: 100%;
        h3 {
          font-size: 1.2rem;
          text-align: center;
        }
        p {
          font-size: 1rem;
        }
      }
    }
  }
}

.ph-list {
  color: $so-white;
  font-size: 1.5rem;
}
