.so-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0 auto 4rem;
  background-color: transparent;

  color: var(--so-green);

  width: 100%;
}

.so-header a {
  text-decoration: none;
  color: var(--so-green);
}

.so-navigation {
  display: flex;

  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.so-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.so-logo {
  font-size: 2rem;
}

.so-header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}

.so-nav-link {
  font-size: 1rem;
  padding: 8px 16px;
  font-weight: 600;
  border-radius: 32px;
  transition: var(--so-transition);
}

.so-nav-link:hover {
  background-color: var(--so-green);
  color: var(--so-white);
}

.navbar {
  display: none !important;
}

.navbar-toggler {
  border: 2px solid var(--so-green) !important;
  transition: var(--so-transition) !important;
  font-size: 1rem !important;
}

.navbar-toggler:hover {
  border-color: black !important;
}

.ph-list {
  transition: var(--so-transition);
  color: var(--so-green) !important;
}

.navbar-toggler:hover .ph-list {
  color: black !important;
}

/* Hamburger */

.nav-link {
  color: var(--text) !important;
  font-weight: 600 !important;
}

.nav-item,
.nav-link {
  width: 100%;
  text-align: center;
}

.nav-link[aria-current="page"] {
  color: black !important;
  background-color: var(--so-green);
}

.nav-link:hover {
  background-color: var(--so-green);
  color: var(--so-white) !important;
}

@media (max-width: 900px) {
  .so-menu {
    display: none;
  }

  .navbar {
    display: flex !important;
  }
}
